.App {
  display: flex;
  flex-direction: column;
}

.AppContent {
  display: flex;
  justify-content: center;
  padding: 2em 0;
}

table {
  border-collapse: collapse;
}

table table {
  width: 100%;
}

/* :-webkit-any(.map, .list) {
  background: #f008;
}

:-webkit-any(.map, .list) :-webkit-any(.map, .list) {
  background: #ff08;
}

:-webkit-any(.map, .list) :-webkit-any(.map, .list) :-webkit-any(.map, .list) {
  background: #f08;
} */

th,
td {
  border: 1px solid black;
  text-align: left;
  vertical-align: top;
}

td {
  padding: 0.5em;
}

ul {
  margin: 0.5em 0;
}

li + li {
  margin-top: 0.5em;
}
